 body {
        background-color:crimson;
    }
h1 {
    color: white;
    text-align: center;
    }
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    }
a:link {
    color: green;
    background-color: transparent;
    text-decoration: dashed;
}

a:hover {
    color: crimson;
    background-color: transparent;
    text-decoration:underline;
 }

 a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
 }

 a:active {
    color: yellow;
    background-color:transparent;
    text-decoration: underline;
  }